@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #d6d3d1;
    /* stone-300 matching design system */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Utilidade para o efeito Glassmorphism Premium */
.glass-panel {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.05);
}

.glass-dark {
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Ajuste do scrollbar para ficar elegante */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 4px;
}

/* Animação para a faixa de Transição (Marquee) */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
}

/* Outline Premium para letreiro */
.text-outline {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
    transition: all 0.3s;
}

.text-outline:hover {
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1px transparent;
}
